body {
  font-family: 'Roboto Slab', serif;
  color: black;
  background-color: lightskyblue;
}

.about-me {
  opacity: 0.5;
  font-size: 20px
}

.title {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  
}

p {
  font-size: 20px;
  font-weight: bold;
}

main {
  text-align: left;
}

background-image {
  url ('./DSC00257.JPG')
}
