body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.about-me {
  opacity: 0.5;
  font-size: 20px
}

.title {
  font-weight: bold;
}

h1 {
  color: Azure;
  font-size: 20px;
  
}

p {
  font-size: 18px;
  font-weight: bold;
}

main {
  text-align: center;
}
