.header {
  background-color: CornflowerBlue;
  text-align: center;
}
.about-me {
  opacity: 0.5;
  font-size: 20px
}

.title {
  font-weight: bold;
}

h1 {
  color: Azure;
}

body {
  font-family: Georgia;
}
